@{
    ViewData["Title"] = "Home Page";
}

    <div >
        
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

        <article class="group">
            <h1>About us</h1>
            <h2>Sweden&#39;s largest training company for the business sector</h2>
            <div class="content">

                <p>Lexicon was established in 1979 and is a franchise organization with a few equity-owned companies and a large number of franchise-owned companies.</p>

                <h4>Lexicon in brief:</h4>
                <ul>
                    <li>More than 50 franchisees, specialized in a wide spread of&nbsp;concepts&nbsp;</li>
                    <li>The largest player in IT training in Sweden</li>
                    <li>One of the largest players in Sweden within leadership and business training</li>
                    <li>The largest player in Sweden within e-learning&nbsp;</li>
                    <li>The largest player in Sweden within blended training</li>
                    <li>Our own concepts, pedagogics and course materials</li>
                    <li>We combine training and consulting to streamline our customers' operations</li>
                    <li>Own business system for handling deals and customers</li>
                    <li>Market organization with e-commerce website, marketing unit and an extensive sales organization</li>
                    <li>Cooperation contract with the majority of the biggest companies in Sweden</li>
                    <li>Experience in managing major international training projects</li>
                    <li>Highest credit rating</li>
                    <li>Around 500 employees and consultants in Sweden&nbsp;</li>
                    <li>International network of consultants</li>
                    <li>University for the business sector</li>
                </ul>
            </div>
            <aside>
            </aside>
        </article>


    </div>
