@model LexiconLMS.Models.User
@{
    ViewData["Title"] = "Delete";
   
}



<h1>Radera användare</h1>

<h3>Vill du verkligen radera användaren <b><i>@Html.DisplayFor(model => model.FullName)</i></b>?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" />
        <a asp-action="Index">Tillbaka till kurser</a>
    </form>
</div>


